<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
<link rel="stylesheet" type="text/css" href="{xiao:$site_template}images/projectx.css"/>
<link rel="stylesheet" type="text/css" href="{xiao:$site_template}images/top.css"/>
<script src="js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
<title>{xiao:$site_title}</title>
<meta name="keywords" content="{xiao:$site_keywords}" />
<meta name="description" content="{xiao:$site_description}" />
<script type="text/javascript">
	$(document).ready(function(){
	var $pro_li = $('.nav_item');
	$pro_li.click(function(){
		$(this).addClass('selected').siblings().removeClass('selected');
		var index = $pro_li.index(this);
		$('.prod_item').eq(index).show().siblings().hide();
	});	
});
</script>
<style type="text/css">
		.border {
			border-bottom: 1px #222222 solid;
			
		}
		.border span {
			border-bottom: 4px #e40000 solid;
		}
	table,tr td{
		border: 1px #222222 solid;
		text-align: center;
		line-height: 50px;
	}
	.pro_detail p {
		margin: 10px;
	}
</style>
</head>
<body>
<!--头部开始 -->
<div class="top">
  <div class="topic"><a href="http://www.touzitop.com/"><img src="img/main_logo.png" alt=""></a></div>
  <form action="/plus/advancedsearch.php" method="post" style="display: -webkit-box;-webkit-box-flex: 1;">
  <div class="sou">
    <input type="hidden" name="mid" value="17" />
    <input type="hidden" name="dopost" value="search" />
    <input type="text" placeholder="请输入项目关键词"  name="q">
    <div class="spic"><button style="border:none;"><img src="img/sou.png" alt=""></button></div>
  </div>
  </form>
</div>
<!--头部结束 -->
<!--项目详情开始-->



<!--
	<div class="order"> <a href="javascript:;" onClick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">咨询股价</a> </div>
	
-->
<!--项目详情结束-->
<!--公司详情开始-->
<div class="pro_detail" style="color:#FFFFFF;background-image:url(https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=311183777,2929586325&fm=26&gp=0.jpg); background-size:100% 100%; font-size: 15px; line-height: 25px;">
	<h2 style="text-align: center; line-height: 40px;">上海投鼎资产管理有限公司</h2>
	<p>上海投鼎资产管理有限公司是由国内外知名投资机构组建而成的综合性一体化现代金融服务机构，在美国华尔街金融联盟商会旗下创办公司，2014年在上海联合创建中国（投鼎）资产管理，为中小企业拓展资本市场，助翼企业腾飞提供无缝隙、全流程保姆式投融资服务，是企业创新发展、跨越式转型升级的助推平台。</p>
 	<p>上海投鼎资本</p>
 	<p> 上海投鼎资产管理有限公司是美国华尔街金融（中国WS联盟商会）联合创建，投鼎资本是上海股权托管交易中心E板、Q板挂牌上市服务机构，公司专注于推荐中小企业在上海股权托管交易中心、全国中小企业股份转让系统（俗称：新三板）、HKOTC（香港柜台交易市场）、美国纳斯达克挂牌上市，为中小企业提供挂牌上市、定向增资、股权质押、转让、私募、营销策划、形象宣传、项目路演等服务，努力为挂牌公司实现转E板、新三板、创业板、中小板、主板发挥培育、辅导和促进作用，扶持企业快速进入资本市场，加快企业发展步伐；投鼎资本是中国WS投资联盟创始单位，投鼎资本项目分析研究室是中国WS投资联盟在投鼎设立的为WS投资联盟寻求投资项目的部门，该部门不仅为投鼎推荐的挂牌企业投资，而且对推荐的企业进行领袖团队诊断分析、产品创新分析、商业模式整合分析，从而对挂牌上市的企业进行整体策划，使挂牌上市企业借助资本市场实现腾飞，实现投鼎资本为企业投资、投智、投未来的使命。</p>
	<p>投鼎资本作为华尔街（中国）WS投资联盟理事会员，依托WS投资联盟合会众多的投资机构会员和资本大鳄，先后与大商学院、飞马旅、复旦软件园等十 余单位合作，共同致力于三板市场的中小企业投融资服务。今年六月投鼎资本和国家工业和信息化工业部中小企业发展促进中心组成对接单位，在投鼎设立了项目分析中心，成立中国中小企业上市服务联盟，每年对2000家中小企业进行服务指导， 协助地方基金给与部分挂牌上市企业投资资金支持。
 </p>
 <p>投鼎资本是北大QP投资联盟会员单位、中国投资联盟会员单位、中国投资实力荣誉单位、中国中小企业协助成长单位，新三板投资者之家会员，投鼎资本创立了中国WS投资联盟，中国WS投资联盟包括：空敏、软银、DDO、三板家、深圳金融联盟等80余家投资机构。另从2014年起，WS投资联盟联合众会员开展“千市万企”计划，该计划意在全国范围内近千个地级市筛选10000家企业，为选中的10000家企业建立发展基金，为企业发展保驾护航！</p>
<p>投鼎资产管理凭借其在重组、并购领域积累的丰富资源和经验，在其直接推介挂牌上市的多家企业中，秉承“产业链金融”和“企业生态系统”的并购理念，积极地促进多家相关企业重组并购、做大做强。</p>
<p>投鼎资本战略联盟：</p>
<p> 美国华平投资集团、软银中国创业投资有限公司、中国WS金融联盟中心、上海空敏投资管理有限公司、全国中小企业股份转让系统有限责任公司、上海股权托管交易中心、中国各大会计师事务等等搭建荣誉合作平台...
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
 
 
</div>
 
 
  </div>
</div>
 
<p>
  <!--公司详情结束-->
  <!--火爆项目预约开始-->
  
  <!--火爆项目预约结束-->
  <!--底部结束-->
  ﻿{xiao:template footer.html}
  
  <script>
$(document).ready(function()
   {
    //验证
    $('#light').submit(function ()
    {
        if($('#name').val()==""){
            $('#name').focus();
            alert("用户名不能为空！");
            return false;
        }
        if($('#phone').val()=="")
        {
            $('#phone').focus();
            alert("联系电话不能为空！");
            return false;
        }
		var myreg = /^1[34578]\d{9}$/; 
		if(!myreg.test($("#phone").val())) 
		{ 
   			alert('请输入有效的手机号码！'); 
    		return false; 
		} 
    })
});

window.onload = function(){

    var nowDate = new Date();

    var str = nowDate.getFullYear()+"-"+(nowDate.getMonth() + 1)+"-"+nowDate.getDate()+" "+nowDate.getHours()+":"+nowDate.getMinutes()+":"+nowDate.getSeconds();

    document.getElementById("time").value=str;

}

</script>
  
</p>
<link rel="stylesheet" href="img/demo.css">
 
<div id="fade"></div>



<script type="text/javascript" src="img/yxmobileslider.js"></script>

<script>

    $(".slider").yxMobileSlider({width:640,height:320,during:3000})

  </script>
  
  

 
</body>
</html>
