
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
<link rel="stylesheet" href="{xiao:$site_template}images/top.css">
<link rel="stylesheet" href="{xiao:$site_template}images/projectx.css">
<link rel="stylesheet" href="{xiao:$site_template}images/{xiao:$style}.css">

<script type="text/javascript" src="{xiao:$site_template}images/jquery-1.11.1.min.js"></script>
<title>{xiao:$site_title}</title>
<meta name="keywords" content="{xiao:$site_keywords}" />
<meta name="description" content="{xiao:$site_description}" />
<script type="text/javascript">
	$(document).ready(function(){
	var $pro_li = $('.nav_item');
	$pro_li.click(function(){
		$(this).addClass('selected').siblings().removeClass('selected');
		var index = $pro_li.index(this);
		$('.prod_item').eq(index).show().siblings().hide();
	});
});
</script>
<style type="text/css">
		.border {
			border-bottom: 1px #222222 solid;

		}
		.border span {
			border-bottom: 4px #e40000 solid;
		}
	table,tr td{
		border: 1px #222222 solid;
		text-align: center;
		line-height: 50px;
	}
</style>
</head>
<body>
<!--头部开始 -->
<div class="top">
  <div class="topic"><a href="http://www.touzitop.com/"><img src="img/main_logo.png" alt=""></a></div>
    <!--<form action="/index.php?c=index&a=search" method="post" style="display: -webkit-box;-webkit-box-flex: 1;">-->
    <div class="sou">
        <input type="hidden" name="mid" value="17" />
        <input type="hidden" name="dopost" value="search" />
        <input type="text" placeholder="请输入项目关键词"  name="kw">
        <div class="spic"><button style="border:none;" id="search"><img src="img/sou.png" alt=""></button></div>
    </div>
    <!--</form>-->
</div>
<!--头部结束 -->
<!--项目详情开始-->
<div class="propic">
    {xiao:$content}
</div>



<!--底部结束-->
﻿{xiao:template footer.html}

 <script>
$(document).ready(function()
   {
    //验证
    $('#light').submit(function ()
    {
        if($('#name').val()==""){
            $('#name').focus();
            alert("用户名不能为空！");
            return false;
        }
        if($('#phone').val()=="")
        {
            $('#phone').focus();
            alert("联系电话不能为空！");
            return false;
        }
		var myreg = /^1[34578]\d{9}$/;
		if(!myreg.test($("#phone").val()))
		{
   			alert('请输入有效的手机号码！');
    		return false;
		}
    })
});

window.onload = function(){

    var nowDate = new Date();

    var str = nowDate.getFullYear()+"-"+(nowDate.getMonth() + 1)+"-"+nowDate.getDate()+" "+nowDate.getHours()+":"+nowDate.getMinutes()+":"+nowDate.getSeconds();

    document.getElementById("time").value=str;

}

</script>

<link rel="stylesheet" href="{xiao:$site_template}images/demo.css">
<div class="theme-popover" style="margin:0 0 0 0; left:0; width:100%;" id="light">
  <div class="theme-poptit"> <a href="javascript:void(0)" class="close" style="float:right;" onClick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"> ×</a>
    <h3>在线预约</h3>
  </div>
  <div class="theme-popbod dform">
<form action="/index.php?c=index&a=form&modelid=9" enctype="multipart/form-data" method="post" class="theme-signin" name="loginform" id="complain">



<input type="hidden" name="dede_fields" value="name,text;phone,text;time,text;source,text" />

<input type="hidden" name="dede_fieldshash" value="380d8623c254b3480204696bd657af73" />

<input type='hidden' name='source' id='source' style='width:250px'  class='intxt' value='' />

	<input type="hidden" name="time" id="time" value="">

      <ol>

        <li><strong>用户姓名：</strong>

          <input class="ipt" type="text" name="data[xm]"  id='name'  size="20" placeholder="用户姓名" />

        </li>

        <li><strong>手机号码：</strong>

          <input class="ipt"  type='text' name="data[tel]"  id='phone' size="20" placeholder="手机号码" />

        </li>

        <li>

          <input class="btn btn-primary" type="submit" name="submit" value=" 提 交 " />

        </li>

      </ol>

    </form>
  </div>
</div>
<div id="fade"></div>



<script type="text/javascript" src="{xiao:$site_template}images/yxmobileslider.js"></script>

<script>

    $(".slider").yxMobileSlider({width:640,height:320,during:3000})

  </script>


<script>
    $('#search').click(function(){
        var kw = $('input[name="kw"]').val();
        window.location.href='/index.php?c=index&a=search&kw='+kw;
    })
</script>

</body>
</html>
