
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
<link rel="stylesheet" href="{xiao:$site_template}images/top.css">
<link rel="stylesheet" href="{xiao:$site_template}images/projectx.css">
<script type="text/javascript" src="{xiao:$site_template}images/jquery-1.11.1.min.js"></script>
<title>{xiao:$site_title}</title>
<meta name="keywords" content="{xiao:$site_keywords}" />
<meta name="description" content="{xiao:$site_description}" />
<script type="text/javascript">
	$(document).ready(function(){
	var $pro_li = $('.nav_item');
	$pro_li.click(function(){
		$(this).addClass('selected').siblings().removeClass('selected');
		var index = $pro_li.index(this);
		$('.prod_item').eq(index).show().siblings().hide();
	});	
});
</script>
<style type="text/css">
		.border {
			border-bottom: 1px #222222 solid;
			
		}
		.border span {
			border-bottom: 4px #e40000 solid;
		}
	table,tr td{
		border: 1px #222222 solid;
		text-align: center;
		line-height: 50px;
	}
</style>
</head>
<body>
<!--头部开始 -->
<div class="top">
  <div class="topic"><a href="http://www.touzitop.com/"><img src="img/main_logo.png" alt=""></a></div>
  <form action="/plus/advancedsearch.php" method="post" style="display: -webkit-box;-webkit-box-flex: 1;">
  <div class="sou">
    <input type="hidden" name="mid" value="17" />
    <input type="hidden" name="dopost" value="search" />
    <input type="text" placeholder="请输入项目关键词"  name="q">
    <div class="spic"><button style="border:none;"><img src="img/sou.png" alt=""></button></div>
  </div>
  </form>
</div>
<!--头部结束 -->
<!--项目详情开始-->
<div class="propic"> <img src="{xiao:$thumb}" alt="">
  <div class="protit">{xiao:$title}</div>
</div>
<div class="order_list">
  <div class="order_item"> <img src="{xiao:$site_template}images/sort1.png" alt=""><span>{xiao:$industry}</span> </div>
  <div class="order_item te1"> <img src="{xiao:$site_template}images/add1.png" alt=""><span>{xiao:$area}</span> </div>
  <div class="order_item"> <img src="{xiao:$site_template}images/sort2.png" alt=""><span>
   {xiao:$guquandaima}  
  </span> </div>
</div>
<div style="width: 100%;">
	<table width="100%" align="center" class="imagetable border" 
<tr>
	<td>锁定期限</td>
	<td>注册资本</td>
	<td>成立时间</td>
	<td>主办券商</td>
</tr>
<tr>
	<td>{xiao:$rq}</td><td>{xiao:$zczb}</td><td>{xiao:$cltime}</td><td>{xiao:$zbqs}</td>
</tr>
<tr>
	<td>本次发行</td><td>剩余股数</th><td>净资产</td><td>总股本</td>
</tr>
<tr>
	<td>{xiao:$bcfx}</td><td>{xiao:$cygs}</td><td>{xiao:$jingzichan}</td><td>{xiao:$zgb}</td>
</tr>
<tr>
	<td>本次融资</td><td>每股股价</td><td>起投股数</td><td>市盈率</td>
</tr>{xiao:if $member}{xiao:$member['username']}
<tr>
	<td>{xiao:$bcrz}</td><td>{xiao:$djia}</td><td>{xiao:$qtgs}</td><td>{xiao:$shiyinglv}</td>
</tr>
{xiao:else}
<tr>
<td colspan="4" style="line-height: 30px;"> <span style="color:#E53333; border: 0;" ><strong>游客您好，注册会员享受特权！<br />
	</strong>
1.会员认购送三版账户<br />
2.会员特权资料查看<br />
3.线下1对1投顾服务 
</span>
	
	<br /><a href="http://touzitop.com/member/index.php?c=register" target="_blank"><img src="img/51565ef902706e4eb9b7efea95a16989.gif" width="104" height="35" /></a></td> 
 
</tr>{/xiao:if} 
<tr>
	<td>每股收益</td><td>预计挂牌</td><td>2016净盈利</td><td>2017预估收益</td>
</tr>
<tr>
	<td>{xiao:$shouyi}</td><td>{xiao:$yujiguapai}</td><td>{xiao:$sshouyi}</td><td>{xiao:$yshouyi}</td>
</tr>
</table>
</div>
<!--
	<div class="order"> <a href="javascript:;" onClick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">咨询股价</a> </div>
	
-->
<!--项目详情结束-->
<!--公司详情开始-->
<div class="pro_detail">
	<!--
    	  <div class="pro_nav">
    <div class="nav_item selected">企业亮点</div>
    <div class="nav_item">企业介绍</div>
    <div class="nav_item" >项目介绍</div>
    <div class="nav_item">市场价值</div>
  </div>
    -->

  <div class="prod_list">
    <div class="prod_item"> 
<p class="border"><strong><span style="font-size:20px;color:#000000;"><span>企业介绍</span>：</span></strong></p>
<p><img src="img/fcf4f4933486c011fa7d2603298dd231.png" alt="" width="750" height="395" title="" align="" /> </p>
{xiao:$qyjj}
 </div>
 
  <div class="prod_item"> 
<p class="border"><strong><span style="font-size:20px;color:#000000;"><span>企业亮点</span>：</span></strong></p>
{xiao:$qyld}
 </div>
 
     <div class="prod_item"> 
<p class="border"><strong><span style="font-size:20px;color:#000000;"><span>市场价值 </span>：</span></strong></p>
{xiao:$scjz}
 </div>
    <div class="prod_item"> 
<p class="border"><strong><span style="font-size:20px;color:#000000;"><span>上市回报分析 </span>：</span></strong></p><br />

 {xiao:if $member}{xiao:$member['username']}{xiao:$shjh}{xiao:else}
	<p><span style="color:#E53333;"><strong>游客您好，注册会员享受特权！</strong><br />
	1.会员认购送三版账户<br />
	2.会员特权资料查看<br />
	3.线下1对1投顾服务 
	</span></p>
	<a href="http://touzitop.com/member/index.php?c=register" target="_blank">
	<img src="img/51565ef902706e4eb9b7efea95a16989.gif" width="104" height="35" /></a></td> 
 {/xiao:if} 
</p>
 </div>
 
 
 
 
  </div>
</div>
<!--公司详情结束-->
<!--火爆项目预约开始-->
<div class="hot">
  <h1 class="hot_tit">推荐项目</h1>  
  {xiao:list catid=1 xiaocms=1   num=4 cache=0   status=3}<div class="hot_item"> <img src="{xiao:function.image($xiao[thumb])}" alt="">
    <div class="yu1"><a href="javascript:;" onClick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">预约咨询</a></div>
  </div>
{/xiao:list}
 
</div>
<!--火爆项目预约结束-->
<!--底部结束-->
﻿{xiao:template footer.html}

 <script>
$(document).ready(function()
   {
    //验证
    $('#light').submit(function ()
    {
        if($('#name').val()==""){
            $('#name').focus();
            alert("用户名不能为空！");
            return false;
        }
        if($('#phone').val()=="")
        {
            $('#phone').focus();
            alert("联系电话不能为空！");
            return false;
        }
		var myreg = /^1[34578]\d{9}$/; 
		if(!myreg.test($("#phone").val())) 
		{ 
   			alert('请输入有效的手机号码！'); 
    		return false; 
		} 
    })
});

window.onload = function(){

    var nowDate = new Date();

    var str = nowDate.getFullYear()+"-"+(nowDate.getMonth() + 1)+"-"+nowDate.getDate()+" "+nowDate.getHours()+":"+nowDate.getMinutes()+":"+nowDate.getSeconds();

    document.getElementById("time").value=str;

}

</script>

<link rel="stylesheet" href="{xiao:$site_template}images/demo.css">
<div class="theme-popover" style="margin:0 0 0 0; left:0; width:100%;" id="light">
  <div class="theme-poptit"> <a href="javascript:void(0)" class="close" style="float:right;" onClick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"> ×</a>
    <h3>在线预约</h3>
  </div>
  <div class="theme-popbod dform">
<form action="/index.php?c=index&a=form&modelid=9" enctype="multipart/form-data" method="post" class="theme-signin" name="loginform" id="complain">

 

<input type="hidden" name="dede_fields" value="name,text;phone,text;time,text;source,text" />

<input type="hidden" name="dede_fieldshash" value="380d8623c254b3480204696bd657af73" />

<input type='hidden' name='source' id='source' style='width:250px'  class='intxt' value='' />

	<input type="hidden" name="time" id="time" value="">

      <ol>

        <li><strong>用户姓名：</strong>

          <input class="ipt" type="text" name="data[xm]"  id='name'  size="20" placeholder="用户姓名" />

        </li>

        <li><strong>手机号码：</strong>

          <input class="ipt"  type='text' name="data[tel]"  id='phone' size="20" placeholder="手机号码" />

        </li>

        <li>

          <input class="btn btn-primary" type="submit" name="submit" value=" 提 交 " />

        </li>

      </ol>

    </form>
  </div>
</div>
<div id="fade"></div>



<script type="text/javascript" src="{xiao:$site_template}images/yxmobileslider.js"></script>

<script>

    $(".slider").yxMobileSlider({width:640,height:320,during:3000})

  </script>
  
  

 
</body>
</html>
