
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
    <link rel="stylesheet" type="text/css" href="/template/mobile/images/projectx.css"/>
    <link rel="stylesheet" type="text/css" href="/template/mobile/images/top.css"/>
    <link rel="stylesheet" type="text/css" href="/template/mobile/images/css.css"/>
    <script src="js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
    <title>神农本草 - 股权项目 - 第一股权网</title>
    <meta name="keywords" content="神农本草(已签署IPO辅导协议)," />
    <meta name="description" content="中国第一股权网站－新三板股权投资、新三板开户业务－投资者最佳的理财知识网站！" />
    <script type="text/javascript">
        $(document).ready(function(){
            var $pro_li = $('.nav_item');
            $pro_li.click(function(){
                $(this).addClass('selected').siblings().removeClass('selected');
                var index = $pro_li.index(this);
                $('.prod_item').eq(index).show().siblings().hide();
            });
        });
    </script>
    <style type="text/css">
        .border {
            border-bottom: 1px #222222 solid;

        }
        .border span {
            border-bottom: 4px #e40000 solid;
        }

        .mainbody {
            width: 100%;
        }
        .w210 {
            width: 38%;
        }
        .w740 {
            width: 60%;
        }
        .textright {
            width: 23%;
            text-align: right
        }
        .textleft {
            width: 40%;
            text-align: left
        }
        .button {
            width: 50%;
            height: 30px;
            background-color: #f3cf07;
            line-height: 20px;
            color: #fff;
        }
    </style>
</head>
<body>
<!--头部开始 -->
<div class="top">
    <div class="topic"><a href="http://www.touzitop.com/"><img src="../../img/main_logo.png" alt=""></a></div>
    <form action="/plus/advancedsearch.php" method="post" style="display: -webkit-box;-webkit-box-flex: 1;">
        <div class="sou">
            <input type="hidden" name="mid" value="17" />
            <input type="hidden" name="dopost" value="search" />
            <input type="text" placeholder="请输入项目关键词"  name="q">
            <div class="spic"><button style="border:none;"><img src="img/sou.png" alt=""></button></div>
        </div>
    </form>
</div>
<!--头部结束 -->
<!--项目详情开始-->
<div class="prod_list">
    <div class="prod_item">

        <!-- top bar end --><div class="mainbody">
        <div class="w210 fl">
            <div class="sidenav bg">
                <div class="title"><s></s>会员中心</div>
                <div class="leftbox">
                    <ul>
                        <li><s></s><a href="/member/index.php?c=index&a=edit">会员资料</a></li>
                        <li><s></s><a href="/member/index.php?c=index&a=password">修改密码</a></li>
                        <!--<li ><s></s><a href="/member/index.php?c=content&modelid=1">文章模型</a></li>
                        <li ><s></s><a href="/member/index.php?c=content&modelid=2">产品模型</a></li>
                        <li ><s></s><a href="/member/index.php?c=content&modelid=6">股权项目</a></li>
                        <li ><s></s><a href="/member/index.php?c=content&modelid=7">专项栏目</a></li>
                        <li ><s></s><a href="/member/index.php?c=content&modelid=8">视频中心</a></li>
                        <li ><s></s><a href="/member/index.php?c=content&modelid=13">行情中心</a></li>
                        <li ><s></s><a href="/member/index.php?c=content&modelid=15">企业专栏</a></li>
                        -->
                    </ul>
                </div>
            </div>        </div>
        <div class="w740 fr">
            <div class="pag bg" style="padding: 0;">
                <div class="content_info">
                    <form action="" method="post">
                        <table width="100%" class="table_form ">
                            <tbody>
                            <tr>
                                <td class="textright">会员名称：</td>
                                <td class="textleft">测试</td>
                            </tr>
                            <tr>
                                <td class="textright">原密码：</td>
                                <td class="textleft"><input name="data[password1]" type="password" class="input-text" value="" style='width:90%;'/></td>
                            </tr>
                            <tr>
                                <td class="textright">新密码：</td>
                                <td class="textleft"><input name="data[password2]" type="password" class="input-text" value="" style='width:90%;'/></td>
                            </tr>
                            <tr>
                                <th>确认密码：</th>
                                <td><input name="data[password3]" type="password" class="input-text" value="" style='width:90%;'/></td>
                            </tr>
                            <tr>
                                <td style="border:none; text-align: center;" colspan="2" ><input type="submit" class="button" value="保 存" name="submit"></td>
                            </tr>

                            </tbody>
                        </table>
                    </form>
                </div>
            </div>


        </div>
    </div>

    </div>
</div>
<!--底部结束-->
{xiao:template footer.html}

<script>
    $(document).ready(function()
    {
        //验证
        $('#light').submit(function ()
        {
            if($('#name').val()==""){
                $('#name').focus();
                alert("用户名不能为空！");
                return false;
            }
            if($('#phone').val()=="")
            {
                $('#phone').focus();
                alert("联系电话不能为空！");
                return false;
            }
            var myreg = /^1[34578]\d{9}$/;
            if(!myreg.test($("#phone").val()))
            {
                alert('请输入有效的手机号码！');
                return false;
            }
        })
    });

    window.onload = function(){

        var nowDate = new Date();

        var str = nowDate.getFullYear()+"-"+(nowDate.getMonth() + 1)+"-"+nowDate.getDate()+" "+nowDate.getHours()+":"+nowDate.getMinutes()+":"+nowDate.getSeconds();

        document.getElementById("time").value=str;

    }

</script>

<link rel="stylesheet" href="img/demo.css">

<div id="fade"></div>



<script type="text/javascript" src="img/yxmobileslider.js"></script>

<script>

    $(".slider").yxMobileSlider({width:640,height:320,during:3000})

</script>




</body>
</html>

