*{padding: 0;margin:0;font-family: "微软雅黑"}
a{text-decoration: none;}
#pxf{width:1200px;margin:0 auto;background:#fff; float:left;}
.pxf{width:1200px;float:left;}
/* 三个贝壳优惠开始*/
.pxb1{width:1166px; border:2px solid #ccc;margin:5px 15px;float:left;}
.pxbtit{font-size:20px; height:60px;background:#2c3d4f;line-height: 60px;color: #e3a732;text-indent: 1em;}
.pxbl{/*width:50%;*/float:left;}
.pxbl img{margin: 20px;}
.pxbr{width: 50%;float:left;}
.pxbrh{width:100%;text-align: center;line-height:60px;float:left;font-size: 28px;color:#333;margin-top:50px;}
.pxbrp{width:100%;text-align: center;font-size:22px;color:#e3a732;}
.pxbrbt{width:100%;text-align: center;margin-top: 20px;float:left;}
.pxbrbt a{width:30%;line-height: 50px;background:#e3a732;text-align: center;padding: 10px 50px;color:#fff;border-radius:10px;font-size: 20px;}
.spacetit{width:1000px;height:120px;  text-align: center;line-height:120px;background:url(tbgtit1.png) no-repeat center; float:left;font-size: 30px;color:#e3a732;}
.pxbt{width:1166px; border:2px solid #e3a732;margin:5px 15px;float:left;}
.pxbt img{width:94%;margin:3%;}
/* 火爆项目开始*/
.space{width:1000px;height:25px;background:#eee;float:left;}
.pic2{width:1160px;float:left;margin:5px 15px;background: #fff;}
.htit{width:1160px;height:80px;line-height:80px;  font-size:30px;color: #d29723;}
.pic2_list{width: 1166px;background:#2c3d4f;float:left;}
.pic2_item{width: 265px; float:left;margin:25px 60px;}
.hbt1{width:150px;height:35px;margin:10px 25px; text-align: center;background:#f7cf80;line-height:35px;border-radius: 10px;}
.hbt1 a{width:150px;height:35px;color:#fff;display: block;border-radius: 10px;}
.hbt1 a:hover{background:#d29723;}
.pic3_list{width: 970px;float:left;}
.pic3_item{width:310px;border:1px solid #ccc;float:left;margin-left: 8px;}
.pic3_item a{color:#333;}
.pic3_item img{margin:8px; width:294px;}
.cptit{width:300px;margin-left:5px;float:left;line-height:40px;border-bottom:1px solid #ccc;text-align: center;}
.hbt2{width: 200px;height:35px;border-radius: 15px;color:#fff;background:#d29723;float:left;margin:15px 50px;text-align: center;line-height:35px;}
.hbt2{width: 200px;height:35px;border-radius: 15px;color:#fff;font-size:18px;display: block;}
.hbt2:hover{width: 200px;height:35px;background:#f7cf80;};